@import "mixins";

.main {
  position: absolute;
  z-index: -10;
  display: block;
  width: -webkit-calc(99% - 330px);
  width: -moz-calc(99% - 330px);
  width: calc(99% - 330px);

  @include breakpoint(small) {
    width: -webkit-calc(99% - 290px);
    width: -moz-calc(99% - 290px);
    width: calc(99% - 290px);
  }
  right: 1%;
}

.admin-item {
  min-height: 450px;
}

* { box-sizing: border-box; }

/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 100%;
  width: 100%;
  counter-reset: grid-item;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- grid-item ---- */



/* ---- grid ---- */
.grid {
  background: #fff;
 //  max-width: 100%;
  counter-reset: grid-item;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
  background-size: cover;
  background-position: inherit;
}
.grid-item {
  width: calc(100% - 100% / 1.32);
  @include breakpoint(small-portrait) {
    width: 100%;
    background-size: cover !important;
    background-position: center top !important;
    }  
    @include breakpoint(small-landscape) {
      width: 48.5%;
      background-size: cover !important;
      background-position: center top !important;
      } 
      @include breakpoint(medium-landscape) {
        width: 32%;
        background-size: cover !important;
        background-position: center top !important;
        } 
  }

.grid-item--width2 {
  width: calc(100% - 100% / 1.941);
  @include breakpoint(small-portrait) {
    background-size: cover !important;
    width: 100% } 
    @include breakpoint(small-landscape ) {
      width: 48.5%;
      background-size: cover !important;
      }
      @include breakpoint(medium-landscape) {
        width: 65%;
        } 
}

.grid-item--height2 {
   height: calc(100vh - 100vh / 1.32);
   @include breakpoint(small-portrait) {
    height: 50vh } 
    @include breakpoint(small-landscape ) {
      height: 50vh }
      @include breakpoint(medium-landscape) {
        height: 50vh ;
        } 
  }
.grid-item--height3 { 
  height: calc(100vh - 100vh / 1.941);
  @include breakpoint(small-portrait ) {
    height: 75vh } 
    @include breakpoint(small-landscape) {
      height: 100vh } 
      @include breakpoint(medium-landscape) {
        height: 75vh ;
        }
}
.grid-item--height4 { 
  height: calc(100vh - 100vh / 4); 
  @include breakpoint(small-portrait) {
    height: 74vh } 
    @include breakpoint(small-landscape ) {
      height: 100vh } 
      @include breakpoint(medium-landscape) {
        height: 100vh ;
        }
}

.grid-item--width2.grid-item--height3 {
  @include breakpoint(small-portrait) {
    background-position: center;
    height: 25vh } 
    @include breakpoint(small-landscape ) {
      height: 49vh } 
}


.grid-item.grid-item-height2 {
  width: calc(100% - 100% / 1.941);
  height: calc(100vh - 100vh / 1.941);
}

.tablet {
  .grid-item {
      width: 48.5%;
      background: #3c4a50;
      background-size: cover !important;
  }
  .grid-item--width2.grid-item--height3 {
      background-position: center;
    //  width: 49%;
      height: 50vh;
      @include breakpoint(medium-portrait) {
        height: 25vh;
        } 
  }
  .grid-item--height2 {
    @include breakpoint(small-portrait) {
      height: 50vh;
      } 
    @include breakpoint(medium-landscape) {
      height: 75vh;
      } 
      @include breakpoint(medium-portrait-pixel-ratio-two) {
        height: 25vh;
        } 
        @include breakpoint(medium-landscape-pixel-ratio-two) {
          height: 50vh;
          } 
  }
  .grid-item.grid-item--height2 {
    @include breakpoint(medium-landscape) {
      width: 65%;
      height: 50vh;
      } 
  }
  .grid-item--height3 {
    @include breakpoint(small-portrait) {
      height: 50vh;
      } 
    @include breakpoint(medium-landscape) {
      height: 50vh;
      } 
      @include breakpoint(medium-landscape-pixel-ratio-two) {
        background-position: center center;
        height: 75vh;
        } 
  }

  .grid-item {
    @include breakpoint(medium-landscape) {
      width: 32%;
      } 
  }
  .grid-item--width2 {
    @include breakpoint(medium-landscape) {
      width: 65%;
      } 
  }
}

.grid-item:before {
  display: block;
  color: white;
  padding-top: 0.2em;
  text-align: center;
  font-size: 1.4rem;
}

.figure {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  top: 0;

  &:hover figcaption {
    transform: translate3d(0px, 0px, 0px);
    opacity: 0.8;
  }

  &__action {
    opacity: 0;
    position: absolute;
    transition: visibility 0s, opacity 0s linear;
    visibility: hidden;
  }

  &:hover &__action {
    display: block;
    position: absolute;
    bottom: -moz-calc(50% + 10px);
    bottom: -webkit-calc(50% + 10px);
    bottom: calc(50% + 10px);
    opacity: 1;
    right: 43%;
    visibility: visible;


    .icon {
      &--play:before {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        font-size: 40px;
        opacity: 0.9;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
      }

      &--zoom:before {
        color: #ffc107;
        font-size: 29px;
        opacity: 0.9;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
      }
    }
  }
}

.figcaption {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  bottom: 0;
  color: #3c4a50;
  position: absolute;
  top: auto;
  transform: translate3d(0px, 100%, 0px);
  transition: transform 0.1s ease 0s;
  width: 100%;
  opacity: 0;
  transition: opacity 0.1s ease 0s;

  .icon {
    color: #c5af86;
    display: block;
    float: left;
    font-size: 15px;
    line-height: inherit;
    padding: 12px 10px 0px 10px;
  }

  &__author {
    color: #d8c9af;
    width: 100%;
    text-align: right;
    padding: 0px 10px !important;

    @include breakpoint(small) {
      font-size: 7px;
    }
    @include breakpoint(medium) {
      font-size: 9px;
    }
    @include breakpoint(large) {
      font-size: 15px;
    }
    @include breakpoint(extralarge) {
      font-size: 16px;
    }
    float: right;
    font-style: normal;
    padding: 12px 10px 0px 0px;
  }

  &__brand {
    color: $text-color;
    display: inline-block;
    padding: 0 0 5px 15px;
    width: 90%;
    font-size: 16px;
    text-align: left;
  }

  &__company {
    color: $text-color;
    width: 96%;
    text-align: center;
    display: block;
    border-bottom: 1px solid rgba(111, 108, 101, 0.43137254901960786);
    font-size: 18px !important;
    line-height: 1.5;
    margin: 0 auto !important;
    @include breakpoint(small) {
      font-size: 7px;
    }
    @include breakpoint(medium) {
      font-size: 9px;
    }
    @include breakpoint(large) {
      font-size: 12px;
      margin: 0px;
    }
    @include breakpoint(extralarge) {
      font-size: 14px;
    }
  }
  &__kind {
    color: $text-color;
    text-align: right;
    padding-right: 15px;
    width: 100%;
    display: block;
    @include breakpoint(small) {
      font-size: 5px;
    }
    @include breakpoint(medium) {
      font-size: 8px;
    }
    @include breakpoint(large) {
      font-size: 10px;
    }
    @include breakpoint(extralarge) {
      font-size: 12px;
    }
  }
}

