@import "variables";
.modal {
    &__image {
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__input {
        border: none;
        border-bottom: 1px solid $main-brand-color;
        margin: 5px 0 10px 0px;
        width: 100%;
        &:focus{
            outline: none;
        }
    }
}
