@import "mixins";
button {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: .06em;
    line-height: 1.14;
    outline: 0;
    padding: 0;
    text-align: left;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}
button:focus {
    outline: 0;
}

.logo {
	font-family: 'New_Direction';
	text-align: center;
	margin: 19px 6px;
	font-size: 30px;
    position: fixed;
    top: 0;
    left: 80px;
  }
.board-cut {
  position: fixed;
  transform: skewX(-10deg);
  width: 100vw;
  height: 100vh;
  background: #fff;
  right: 110vw;
  top: 0px;
}
.mask {
  background: rgba(246, 246, 246, 0.9) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 1;
  transition: left 0.8s ease-in;
  -ms-transition: left 0.8s ease-in;
  -moz-transition: left 0.8s ease-in;
  -webkit-transition: left 0.8s ease-in;
  border-right: 1px solid #f6f6f6;


  &--minimize {
	left: calc(-100% + 135px);
	left: -moz-calc(-100% + 135px);
	left: -webkit-calc(-100% + 135px);
	background: rgba(246, 246, 246, 0.38) none repeat scroll 0 0;
	transition: all 2s ease;


		@include breakpoint(small-portrait) {
			left: calc(-100%);
			left: -moz-calc(-100%);
			left: -webkit-calc(-100%);
			transition: left 0.8s ease-in;
			-ms-transition: left 0.8s ease-in;
			-moz-transition: left 0.8s ease-in;
			-webkit-transition: left 0.8s ease-in;
		}

		@include breakpoint(small-landscape) {
			left: calc(-100%);
			left: -moz-calc(-100%);
			left: -webkit-calc(-100%);
			transition: left 0.8s ease-in;
			-ms-transition: left 0.8s ease-in;
			-moz-transition: left 0.8s ease-in;
			-webkit-transition: left 0.8s ease-in;
		}

		@include breakpoint(medium-landscape) {
			left: calc(-95% + 135px);
			left: -moz-calc(-95% + 135px);
			left: -webkit-calc(-95% + 135px);
			transition: left 0.8s ease-in;
			-ms-transition: left 0.8s ease-in;
			-moz-transition: left 0.8s ease-in;
			-webkit-transition: left 0.8s ease-in;
		}

		@include breakpoint(medium-portrait) {
			left: calc(-100%);
			left: -moz-calc(-100%);
			left: -webkit-calc(-100%);
			transition: left 0.8s ease-in;
			-ms-transition: left 0.8s ease-in;
			-moz-transition: left 0.8s ease-in;
			-webkit-transition: left 0.8s ease-in;
		}

		@include breakpoint(medium-portrait-pixel-ratio-two) {
			left: calc(-100%);
			left: -moz-calc(-100%);
			left: -webkit-calc(-100%);
			transition: left 0.8s ease-in;
			-ms-transition: left 0.8s ease-in;
			-moz-transition: left 0.8s ease-in;
			-webkit-transition: left 0.8s ease-in;
		}
		.paragraph__controller {
			@include breakpoint(small-landscape) {
				right: -40px;
				transition: right 1.5s ease-out;
				-ms-transition: right 1.5s ease-out;
				-moz-transition: right 1.5s ease-out;
				-webkit-transition: right 1.5s ease-out;
			}
			@include breakpoint(small-portrait) {
				right: -40px;
				transition: right 1.5s ease-out;
				-ms-transition: right  1.5s ease-out;
				-moz-transition: right  1.5s ease-out;
				-webkit-transition: right 1.5s ease-out;
			}
			@include breakpoint(medium-portrait) {
				right: -40px;
				transition: right 1.5s ease-out;
				-ms-transition: right 1.5s ease-out;
				-moz-transition: right 1.5s ease-out;
				-webkit-transition: right 1.5s ease-out;
			}
		}
  }
}
.desktop{
	.mask {
		top: 0px;
	}
}
.tablet {
	@include breakpoint(medium-landscape) {
		.mask {
			top: 50px;
		}
	}
	@include breakpoint(medium-landscape-pixel-ratio-two) {
		.mask {
			top: 0px;
		}
	}
}
.mobile {
	.mask {
		&--minimize {
			@include breakpoint(medium-landscape) {
				left: calc(-100% );
				left: -moz-calc(-100%);
				left: -webkit-calc(-100% );
				transition: left 0.8s ease-in;
				-ms-transition: left 0.8s ease-in;
				-moz-transition: left 0.8s ease-in;
				-webkit-transition: left 0.8s ease-in;
			}
		}
	}
}

.paragraph {

  &__wrapper {
	margin: 10% auto 0 30%;

	@include breakpoint(small-portrait) {
	  margin: 15% auto 0 5%;
	  width: 80%;
	}
	@include breakpoint(small-landscape) {
	  margin: 10% auto 0 10%;
	  width: 80%
	}
	@include breakpoint(medium-portrait) {
	  margin: 20% auto 0 15%;
	  width: 70%;
	}
	background: none;
	padding: 15px;
	width: 50%;

  }

  &__controller {

	@include breakpoint(small-landscape) {
	  top: 10px;
	}
	@include breakpoint(small-portrait) {
	  top: 10px;
	}
	@include breakpoint(medium-portrait) {
	  top: 22px;
	}
	@include breakpoint(medium-portrait-pixel-ratio-two) {
	  top: 22px;
	}

	padding: 3px;
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
	display: block;

	&:hover {
	  .icon {
		color:#d5d5d5;
		-webkit-transition: color 0.9s ease-out;
		-moz-transition: color 0.9s ease-out;
		-o-transition: color 0.9s ease-out;
		transition: color 0.9s ease-out;

	  }
	}

  }

  &__content {
	-webkit-transition-property: opacity; /* Safari */
	-webkit-transition-duration: 1s; /* Safari */
	-webkit-transition-delay: 0.7s; /* Safari */
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 0.7s;
	opacity:1;

	&--disable {

	  -webkit-transition-property: opacity; /* Safari */
	  -webkit-transition-duration: 1s; /* Safari */
	  -webkit-transition-delay: 0s; /* Safari */
	  transition-property: opacity;
	  transition-duration: 1s;
	  transition-delay: 0s;
	  opacity:0;
	}
  }

  &__title {
	@include breakpoint(small-portrait) {
	  font-size: 1.4em;
	}
	@include breakpoint(android) {
	  font-size: 2.4em;
	}
  }

  &__blockquote {
	font-size: 1.4em;

	@include breakpoint(small-portrait) {
	  font-size: 1em;
	}
	@include breakpoint(small-landscape) {
	  font-size: 1em;
	}
	@include breakpoint(medium-portrait) {
	  font-size: 1.7em;
	}
	@include breakpoint(android) {
	  font-size: 1.6em;
	}

  }

}