<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content,$event); false"><i class="icon icon--edit"></i></button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Picture Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-xs-12 col-md-8 col-lg-8 modal__image" [style.backgroundImage]="'url('+ urlParser(item.img) +')'"></div>
          <div class="col-12 col-xs-12 col-md-4 col-lg-4">
              <div>
                  <div *ngIf="state === 'loading'" class="badge badge-light mb-2">form is synced</div>
                  <div *ngIf="state === 'synced'" class="badge badge-success mb-2">form is synced</div>
                  <div *ngIf="state === 'modified'" class="badge badge-warning mb-2">form is modified</div>
                  <div *ngIf="state === 'error'" class="badge badge-danger mb-2">form is error</div>
              </div>
              <form [formGroup]="myForm" fireForm path="{{ 'data/'+ category +'/items/' + item.id}}"
              (stateChange)="changeHandler($event)">
            
               <div class="m-left">
                <label for="agency">agency name: </label>
                <div>
                    <input matInput placeholder="agency" formControlName="agency" class="modal__input">
                </div>
              </div>

              <div class="m-left">
                <label for="company">campaign name: </label>
                <div>
                    <input matInput placeholder="company" formControlName="company" class="modal__input">
                </div>
              </div>

              <div class="m-left">
                <label for="author">{{kind === 'director'? 'director': 'photographer'}}</label>
                <div>
                    <input matInput placeholder="author" formControlName="author" class="modal__input">
                </div>
              </div>

              <div class="m-left">
                <label for="img">picture: </label>
                <div>
                    <input matInput placeholder="img" formControlName="img" class="modal__input">
                </div>
              </div>

              <div>
                <label for="smallImg">small picture: </label>
                <div>
                    <input matInput placeholder="smallImg" formControlName="smallImg" class="modal__input">
                </div>
              </div>
            
              <div>
                <label for="kind">kind: </label>
                <div>
                    <select formControlName="kind" placeholder="kind" class="modal__input">
                        <option value="photographer">photographer</option>
                        <option value="director">director</option>
                    </select>
                </div>
              </div>

              <div>
                <label for="orientation">image orientation: </label>
                <div>
                    <select formControlName="orientation" placeholder="orientation" class="modal__input">
                        <option value="1.77">1.77</option>
                        <option value="1.33">1.33</option>
                        <option value="1">1</option>
                        <option value="0.66">0.66</option>
                    </select>
                </div>
              </div>

              <div>
                <label for="order">image order: </label>
                <div>
                    <input (keyup)="onKey($event)" matInput placeholder="order" formControlName="order" class="modal__input mb-0">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light right" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>