<app-paragraph [paragraphs]='paragraphs'></app-paragraph>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let item of database | async" [ngClass]="[item.orientation === 'portrait' ? 'mt-4 col-12 col-sm-6 col-md-3 grid-item' : 'mt-4 col-12 col-sm-12 col-md-6 grid-item grid-item--landscape']">
      <a class="fancybox fancybox-imgw" data-fancybox="gallery" [style.backgroundImage]="'url('+ urlParser(item.img) +')'" [href]="item.smallImg">
        <figure class="figure">
          <span class="figure__action"><i class="icon icon--zoom"></i></span>
          <figcaption class="figcaption ">
            <div>
              <div>
                <i [ngClass]="[item.kind === 'photographer' ? 'icon icon--pictures' : 'icon icon--videos']"></i>
                <span class="figcaption__campaign">{{item.company}}</span>
                <span class="figcaption__author">{{item.photographer || item.director || item.author}}</span>
              </div>
              <div class="clearfix ">
                <span class="figcaption__kind">{{item.kind}}</span>
                <span class="figcaption__brand">{{item.agency}}</span>
              </div>
            </div>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
