<form [formGroup]="myForm" (ngSubmit)="submitHandler()">
{{ myForm.value | json }}
  <div formArrayName="items">
    <div *ngFor="let item of itemForms.controls; let i=index" [formGroupName]="i">
      <label>
        agency:
        <input type="text" formControlName="agency">
      </label>
    
      <label>
        company:
        <input type="text" formControlName="company">
      </label>
      
      <button (click)=deleteItem(i)>Delete</button>
      
    </div>

    <button (click)="addItem()">Add Item</button>
  
  </div>

  <button [disabled]="myForm.invalid">Submit Form</button>

</form>

<div *ngIf="success">
    Yay! We received your submission
</div>