<div class="sidebar">
  <div class="sidebar__wrapper">
    <button class="nav__toggle"  (click)="navToggle()" [ngClass]="statusToggle ? 'nav__toggle--active' : 'nav__toggle'"></button>
    <nav class="nav" [ngClass]="statusToggle ? 'nav nav--active' : 'nav'" id="nav">
        <div class="nav__wrapper">
          <div class="nav__item" *ngFor="let item of menuthree | async">
            <div class="nav__item-outer" (click)="[onClickCategory(item.title), changeState(), firstComponentFunction()()]"  [ngClass]="{'menu__link--active': categoryid === item.title}">
              <div class="nav__item-inner">
                <span class="nav__title"><span>{{item.title}}</span></span>
              </div>
            </div>
          </div>  
        </div>
    </nav>
    <div class="logo">Dora Codita</div>
  </div>
</div>
