<div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xs-12 col-md-6 col-lg-6"></div>
      <div class="col-12 col-xs-12 col-md-6 col-lg-6">
          <a class="fancybox fancybox-imgw"  [style.backgroundImage]="'url('+ item.img +')'" [href]="item.smallImg">
            <figure class="figure">
              <span class="figure__action"><i class="icon icon--zoom"></i></span>
              <figcaption class="figcaption ">
                <div>
                  <div>
                    <i [ngClass]="[item.photographer ? 'icon icon--pictures' : 'icon icon--videos']"></i>
                    <span class="figcaption__campaign">{{item.company}}</span>
                    <span class="figcaption__author">{{item.photographer || item.director}}</span>
                  </div>
                  <div class="clearfix ">
                    <span class="figcaption__kind">{{item.kind}}</span>
                    <span class="figcaption__brand">{{item.agency}}</span>
                  </div>
                </div>
              </figcaption>
            </figure>
          </a>
      </div>
    </div>
  </div>
</div>